body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Sticky header styles */
.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo-label {
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list li a {
  text-decoration: none;
  color: #333333;
}

.content {
  padding-top: 100px;
}

/* Hero section styles */
.hero {
  position: relative;
  background-image: url('/public/Joints-su.jpg');
  background-size: cover;
  background-position: center;
  height: 50vh;
  color: #ffffff;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  width: 40%;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.email-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.email-form input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}

.email-form button {
  padding: 10px 20px;
  border: none;
  background-color: #ff9900;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.email-form button:hover {
  background-color: #e68400;
}

/* Info section styles */
.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 40px 0;
}

.info-content {
  flex: 1;
  padding: 20px;
  background-color: #f2f2f2;
  text-align: center;
}

.info-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-image img {
  max-width: 100%;
  max-height: 100%;
}

.info-content h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.info-content p {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* About section styles */
.about-section {
  text-align: center;
  padding: 50px 0;
}

.about-content {
  flex: 1;
  padding: 20px;
}

.about-content h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.about-content p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

/* Reservation section styles */
.reservation-section {
  width: 100%;
  text-align: center;
  padding: 50px 20px;
}

.reservation-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.reservation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation-form label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.reservation-form input {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reservation-form button {
  padding: 10px 20px;
  background-color: #ff9900;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reservation-form button:hover {
  background-color: #e68400;
}

/* Footer styles */
.footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
}

.social-links {
  margin-bottom: 15px;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
}

.social-links img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.footer p {
  font-size: 1rem;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .hero-content {
    width: 60%;
  }

  .reservation-section {
    padding: 50px 10px;
  }
}

@media (max-width: 992px) {
  .hero-content {
    width: 80%;
  }

  .reservation-section {
    padding: 50px 10px;
  }
}

@media (max-width: 768px) {
  .sticky-header {
    width: 100%;
    padding: 5px 10px;
  }

  .logo img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }

  .nav-list li {
    margin: 0 5px;
    font-size: 14px;
  }

  .hero-content {
    width: 100%;
    left: 0;
    text-align: center;
    padding: 0 20px;
  }

  .email-form {
    margin-top: 10px;
  }

  .info-item {
    flex-direction: column;
  }

  .info-content,
  .info-image {
    padding: 20px;
  }

  .about-content {
    padding: 20px;
  }

  .about-image img {
    width: 150px;
    height: 150px;
  }

  .reservation-section {
    padding: 50px 20px;
  }

  .footer {
    padding: 15px 0;
  }

  .social-links {
    margin-bottom: 10px;
  }
}